.modal{
    padding: 12px;
    background: blue;
    width: 320px;
    text-align: center;
}
// @keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }
// @keyframes fadeOut {
//     from { opacity: 1; }
//       to { opacity: 0; }
// }
.modal--close,.modal--open{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    animation: fadeOut 1s;
}
.modal--open{
    display: flex;
    height: 100%;
    // animation: fadeIn 1.5s;
    background-color:  rgba(0,0,0,.6);
}
.close{
    cursor: pointer;
    display: block;
    background: gray;
    width: 50px;
    float: right;
}
.modal span{
    color: white;
    font-size: 20px;
}
.modalText{
    width: 100%;
    display: inline-block;
}
