.modalWrapper{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    overflow: scroll;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.modal{
    position: absolute;
    background: ghostwhite;
    top: 20px;
    left: 10%;
    overflow-y: scroll;
    right: 10%;
    padding: 15px;
    border: 2px solid #444;
}

.modal-close-btn{
    cursor: pointer;
}