#navbar{
    background-color: #A0522D;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    a{
        text-decoration: none;
        font-style: none;
        color: black;
        font-size: 1.5rem;
        margin-right:1rem;
        font-weight: 550;
    
    }
}